<button type="button" class="btn-trigger" onclick={{action (mut this.showModal) true}}>Add a New Author</button>
{{#if showModal class="modal-if"}}
  <div class="modal">
    <form class="modal-card" onsubmit={{action "save"}}>
      <h3 class="modal-heading">Add New Author for Book</h3>

      <div class="modal-content">
        <div class="field">
          <label>First Name:</label>
          {{input type="text" placeholder="First Name" value=author.firstName}}
        </div>
        <div class="field">
          <label>Last Name:</label>
          {{input type="text" placeholder="Last Name" value=author.lastName}}
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn-clear" onclick={{action (mut this.showModal) false}}>Cancel</button>
        <button type="submit" class="btn-submit">Submit</button>
      </div>
    </form>
  </div>
{{/if}}