<div class="form-group">
     <label for="exampleFormControlFile">Отступ координат</label>
     <div class="container">
  <div class="row">
    <div class="col-sm">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">X</span>
            </div>
            {{input class="form-control" type="text" placeholder="X" value=x}}
        </div>
    </div>
    <div class="col-sm">
      <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Y</span>
            </div>
            {{input class="form-control" type="text" placeholder="Y" value=y}}
        </div>
    </div>
    <div class="col-sm">
      <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Z</span>
            </div>
            {{input class="form-control" type="text" placeholder="Z" value=z}}
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">W</span>
            </div>
            {{input class="form-control" type="text" placeholder="W" value=w}}
        </div>
    </div>
    <div class="col-sm">
      <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">P</span>
            </div>
            {{input class="form-control" type="text" placeholder="P" value=p}}
        </div>
    </div>
    <div class="col-sm">
      <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">R</span>
            </div>
            {{input class="form-control" type="text" placeholder="R" value=r}}
        </div>
    </div>
  </div>
</div>    
</div>

